[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
influx-prompt = {path = ".", editable = true}
pytest-cov = "*"
flake8 = "*"

[packages]
requests = "*"
prompt-toolkit = "~=3.0"
jsane = "*"
fuzzyfinder = "*"

[requires]
python_version = "3.6"
